wsdl_tablas/bcinet/xml/dtd/carpetas.dtd

<?xml version='1.0' encoding='ISO-8859-1'?>


  <!ELEMENT MenuTree (Menu)*>

  <!ELEMENT Item (Item)*>
  <!ATTLIST Item
    key CDATA #IMPLIED
    tipo CDATA #IMPLIED
    visible CDATA #IMPLIED
    mostrarOBJ CDATA #IMPLIED
  >

  <!ELEMENT Menu (Item)*>
  <!ATTLIST Menu
    key CDATA #IMPLIED
    tipo CDATA #IMPLIED
    visible CDATA #IMPLIED
    mostrarOBJ CDATA #IMPLIED
  >
