wsdl_tablas/xml/pagos/ServipagPago.dtd.old

<?xml version='1.0' encoding='UTF-8' ?>

<!--Generated by XML Authority-->

<!ELEMENT ServipagPago (Requerimiento | Respuesta)>

<!ELEMENT ReqHeader (TxCod , TxOrigen , Fecha , Hora , DireccionIP , NroSesion)>

<!ELEMENT ResHeader (CodRetorno , CodError? , Descripcion?)>

<!ELEMENT TxCod (#PCDATA)>
<!ATTLIST TxCod  e-dtype NMTOKEN  #FIXED 'string' >
<!ELEMENT TxOrigen (#PCDATA)>
<!ATTLIST TxOrigen  e-dtype NMTOKEN  #FIXED 'string' >
<!ELEMENT Fecha (#PCDATA)>
<!ATTLIST Fecha  e-dtype NMTOKEN  #FIXED 'date' >
<!ELEMENT Hora (#PCDATA)>
<!ATTLIST Hora  e-dtype NMTOKEN  #FIXED 'time' >
<!ELEMENT DireccionIP (#PCDATA)>
<!ATTLIST DireccionIP  e-dtype NMTOKEN  #FIXED 'string' >
<!ELEMENT NroSesion (#PCDATA)>
<!ATTLIST NroSesion  e-dtype NMTOKEN  #FIXED 'int' >
<!ELEMENT Requerimiento (ReqHeader , (ReqConsultaBoleta | ReqConfPago | ReqCartola | ReqDetalleBoleta | ReqTablas | ReqBillServ | ReqPagoProg))>

<!ELEMENT Respuesta (ResHeader , (ResConsultaBoleta | ResConfPago | ResCartola+ | ResDetalleBoleta+ | ResTablas+ | ResBillServ+ | ResPagoProg))>

<!ELEMENT CodRetorno (#PCDATA)>
<!ATTLIST CodRetorno  e-dtype NMTOKEN  #FIXED 'int' >
<!ELEMENT Descripcion (#PCDATA)>
<!ATTLIST Descripcion  e-dtype NMTOKEN  #FIXED 'string' >
<!ELEMENT ComprobanteElectronico (#PCDATA)>
<!ATTLIST ComprobanteElectronico  e-dtype NMTOKEN  #FIXED 'int' >
<!ELEMENT ReqConsultaBoleta (Usuario , Biller , NroBoleta , NroCliente)>

<!ELEMENT ReqConfPago (Usuario , MedioPago , Biller , Boleta)>

<!ELEMENT ReqCartola (Usuario)>

<!ELEMENT ReqDetalleBoleta (Biller , NroCliente , NroBoleta)>

<!ELEMENT ReqTablas (Codigo)>

<!ELEMENT ReqPagoProg (Usuario , MedioPago , Biller , Boleta , ProgramacionPago)>

<!ELEMENT ResConsultaBoleta (Biller , Boleta)>

<!ELEMENT ResConfPago (ComprobanteElectronico)>

<!ELEMENT ResCartola (Biller , Boleta , ComprobanteElectronico , CodBanco)>

<!ELEMENT ResDetalleBoleta (Biller , Boleta , Correlativo , Detalle)>

<!ELEMENT ResTablas (Codigo , Descripcion)>

<!ELEMENT ResBillServ (CodEmpresa , CodServicio)>

<!ELEMENT ResPagoProg (ComprobanteElectronico)>

<!ELEMENT Usuario (RutNro , RutDV)>
<!ATTLIST Usuario  Email CDATA  #IMPLIED >
<!ELEMENT Biller (CodEmpresa , CodServicio)>

<!ELEMENT Boleta (NroBoleta , NroCliente , Monto , FecVencimiento? , MensajeFacturador? , Direccion? , FecFacturacion? , PagoMin? , MontoPagado? , FecPago?)>

<!ELEMENT RutNro (#PCDATA)>
<!ATTLIST RutNro  e-dtype NMTOKEN  #FIXED 'int' >
<!ELEMENT RutDV (#PCDATA)>
<!ATTLIST RutDV  e-dtype NMTOKEN  #FIXED 'string' >
<!ELEMENT CodEmpresa (#PCDATA)>
<!ATTLIST CodEmpresa  e-dtype NMTOKEN  #FIXED 'int' >
<!ELEMENT NroCliente (#PCDATA)>
<!ATTLIST NroCliente  e-dtype NMTOKEN  #FIXED 'string' >
<!ELEMENT CodServicio (#PCDATA)>
<!ATTLIST CodServicio  e-dtype NMTOKEN  #FIXED 'int' >
<!ELEMENT NroBoleta (#PCDATA)>
<!ATTLIST NroBoleta  e-dtype NMTOKEN  #FIXED 'string' >
<!ELEMENT Monto (#PCDATA)>
<!ATTLIST Monto  e-dtype NMTOKEN  #FIXED 'number' >
<!ELEMENT FecVencimiento (#PCDATA)>
<!ATTLIST FecVencimiento  e-dtype NMTOKEN  #FIXED 'date' >
<!ELEMENT MensajeFacturador (#PCDATA)>
<!ATTLIST MensajeFacturador  e-dtype NMTOKEN  #FIXED 'string' >
<!ELEMENT Direccion (#PCDATA)>
<!ATTLIST Direccion  e-dtype NMTOKEN  #FIXED 'string' >
<!ELEMENT CodBanco (#PCDATA)>
<!ATTLIST CodBanco  e-dtype NMTOKEN  #FIXED 'int' >
<!ELEMENT Codigo (#PCDATA)>
<!ATTLIST Codigo  e-dtype NMTOKEN  #FIXED 'int' >
<!ELEMENT Cuenta (#PCDATA)>
<!ATTLIST Cuenta  e-dtype NMTOKEN  #FIXED 'string' >
<!ELEMENT ProgramacionPago (Fecha , CodAutorizaTx)>

<!ELEMENT CodError (#PCDATA)>
<!ATTLIST CodError  e-dtype NMTOKEN  #FIXED 'int' >
<!ELEMENT Comprobante (#PCDATA)>
<!ATTLIST Comprobante  e-dtype NMTOKEN  #FIXED 'int' >
<!ELEMENT FecFacturacion (#PCDATA)>
<!ATTLIST FecFacturacion  e-dtype NMTOKEN  #FIXED 'date' >
<!ELEMENT PagoMin (#PCDATA)>
<!ATTLIST PagoMin  e-dtype NMTOKEN  #FIXED 'number' >
<!ELEMENT MontoPagado (#PCDATA)>
<!ATTLIST MontoPagado  e-dtype NMTOKEN  #FIXED 'number' >
<!ELEMENT FecPago (#PCDATA)>
<!ATTLIST FecPago  e-dtype NMTOKEN  #FIXED 'date' >
<!ELEMENT Correlativo (#PCDATA)>
<!ATTLIST Correlativo  e-dtype NMTOKEN  #FIXED 'int' >
<!ELEMENT Detalle (#PCDATA)>
<!ATTLIST Detalle  e-dtype NMTOKEN  #FIXED 'string' >
<!ELEMENT CodAutorizaTx (#PCDATA)>
<!ATTLIST CodAutorizaTx  e-dtype NMTOKEN  #FIXED 'string' >
<!ELEMENT MedioPago (Codigo , CodBanco , Cuenta)>

<!ELEMENT ReqBillServ EMPTY>

