wsdl_tablas/xml/dtd/ArtikosConciliacion.dtd

<?xml version='1.0' encoding='UTF-8' ?>

<!--Generated by XML Authority-->

<!ELEMENT Mensaje (IdMensaje,FechaConciliacion,HoraConciliacion,ListaDocumentos)>

<!ELEMENT IdMensaje (Codigo,Desc,Version,Desde,Hacia,RefHacia,Fecha,Hora,Numero,Estado)>

<!ELEMENT ListaDocumentos (IdItem+)>

<!ELEMENT FechaConciliacion (#PCDATA)>
<!ATTLIST FechaConciliacion  e-dtype NMTOKEN  #FIXED 'date' >
<!ELEMENT HoraConciliacion (#PCDATA)>
<!ATTLIST HoraConciliacion  e-dtype NMTOKEN  #FIXED 'time' >

<!ELEMENT Codigo (#PCDATA)>
<!ATTLIST Codigo  e-dtype NMTOKEN  #FIXED 'string' >
<!ELEMENT Desc (#PCDATA)>
<!ATTLIST Desc  e-dtype NMTOKEN  #FIXED 'string' >
<!ELEMENT Version (#PCDATA)>
<!ATTLIST Version  e-dtype NMTOKEN  #FIXED 'string' >
<!ELEMENT Desde (#PCDATA)>
<!ATTLIST Desde  e-dtype NMTOKEN  #FIXED 'string' >
<!ELEMENT Hacia (#PCDATA)>
<!ATTLIST Hacia e-dtype NMTOKEN  #FIXED 'string' >
<!ELEMENT RefHacia (#PCDATA)>
<!ATTLIST RefHacia  e-dtype NMTOKEN  #FIXED 'string' >
<!ELEMENT Fecha (#PCDATA)>
<!ATTLIST Fecha  e-dtype NMTOKEN  #FIXED 'date' >
<!ELEMENT Hora (#PCDATA)>
<!ATTLIST Hora  e-dtype NMTOKEN  #FIXED 'time' >
<!ELEMENT Numero (#PCDATA)>
<!ATTLIST Numero  e-dtype NMTOKEN  #FIXED 'string' >
<!ELEMENT Estado (#PCDATA)>
<!ATTLIST Estado  e-dtype NMTOKEN  #FIXED 'string' >
<!ELEMENT IdItem (#PCDATA)>
<!ATTLIST IdItem  e-dtype NMTOKEN  #FIXED 'string' >