wsdl_tablas/xml/dtd/PagoTodocuenta.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT pago (transaccion, id, monto)>
<!ELEMENT transaccion (#PCDATA)>
<!ELEMENT id (id_recaudador, id_transaccion_pago, id_empresa, id_cliente, id_documento)>
<!ELEMENT id_recaudador (#PCDATA)>
<!ELEMENT id_transaccion_pago (#PCDATA)>
<!ELEMENT id_empresa (#PCDATA)>
<!ELEMENT id_cliente (#PCDATA)>
<!ELEMENT id_documento (#PCDATA)>
<!ELEMENT monto (#PCDATA)>
