wsdl_tablas/xml/dtd/ws_rendicion_llamada.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!ELEMENT Mensaje (RutEmpresa, RutUsuario?, Convenio, Pin?, Servicio, Tipo, Formato, Fecha)>
<!ELEMENT RutEmpresa (Numero, Digito)>
<!ELEMENT RutUsuario (Numero, Digito)>
<!ELEMENT Numero (#PCDATA)>
<!ELEMENT Digito (#PCDATA)>
<!ELEMENT Convenio (#PCDATA)>
<!ELEMENT Pin (#PCDATA)>
<!ELEMENT Servicio (#PCDATA)>
<!ELEMENT Tipo (#PCDATA)>
<!ELEMENT Formato (#PCDATA)>
<!ELEMENT Fecha (#PCDATA)>
